/*==========================================
    THIS DARK MODE STYLESHEET IS INTENDED
  FOR THE GITLAB SVG PREVIEW MICROSITE ONLY
    
    http://gitlab-org.gitlab.io/gitlab-svgs
  ==========================================*/

/* Illustration magic */
img {filter:invert(0) contrast(.9) hue-rotate(180deg);}

/* Literally just for 'brand-zoom', your only natively colored svg icon. */
.subheader+.container svg {filter:hue-rotate(180deg);}

/* integrate these changes somehow into the base style... please :( */
/* X isn't centered in search box, driving me nuts! */
.icon-reset { top:0.55em; }
/* more vertical alignment fixes */
label {margin: .25rem; }
input { vertical-align:middle; }

/* Base dark mode setup stuff plz ignore*/
header .header-content .title a:hover { color: #ccc; text-decoration:none; }
body {filter:invert();background:#000;position:absolute;width:100%;}
header {filter:invert()}